.yellowList{
    background-color: cornsilk;
}

.greenList{
    background-color: darkseagreen;
}

#addButton{
    /*margin-bottom: 1 px;*/
    margin-bottom:  20px;
}

.modifyButtons{
    margin-right: 5px;
    margin-left: 5px;
    /*margin-top: 3px;*/

    color: black;
    background-color: #BDC3C7;
    border-color: #BDC3C7;


}

.deleteButtons{
    margin-right: 5px;
    margin-left: 5px;
    /*margin-top: 3px;*/
    color: black;
    background-color: #D24D57;
    border-color: #D24D57;
}

.btn{
    margin-right: 5px;
    margin-left: 5px;
    /*margin-top: 3px;*/

    /*color: black;*/
    /*background-color: #26A65B;*/
    /*border-color: #26A65B;*/
}

.inp1Class{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.inp2Class{
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    font-family: monospace;
    font-size: 20px;
    margin-left: 20px;
    margin: 5px;
}

body{

}

/*.btn-default{*/
    /*color: #007aff;*/
    /*background-color: #fff;*/
    /*border-color: #007aff;*/
/*}*/
/*.btn-default:hover,*/
/*.btn-default:focus,*/
/*.btn-default:active,*/
/*.btn-default.active,*/
/*.open > .btn-default.dropdown-toggle {*/
    /*color: #fff;*/
    /*background-color: #007aff;*/
    /*border-color: #007aff;*/
/*}*/
button {
    cursor: pointer;
    cursor: hand;
}